<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Akin's Lost in the Woods</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <h1>@ViewBag.trail.Name</h1>
    <h3>Description</h3>
    <p>@ViewBag.trail.Description</p>
    <h3>Trail Length</h3>
    <p>@ViewBag.trail.Length</p>
    <h3>Elevation Change</h3>
    <p>@ViewBag.trail.Elevation</p>
    <h3>Position</h3>
    <p>Longitude - @ViewBag.trail.Lon</p>
    <p>Latitude - @ViewBag.trail.Lat</p>
    
    <a href="/">Go back to the trails</a>
</body>
</html>